@import '../mixin';

$fontColor: #bfcbd9;		//边侧栏字体颜色

.el-menu{
	border-right : none;
	height: 100%;
	width: 280px;
	overflow-y: auto;

	&::-webkit-scrollbar {
	    display: none;
	}
	
}


.el-menu--collapse{
	width: 64px;
}


