.container-main{
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    bottom: 0;

    .content-main{
    	width: 100%;
    	background: #fff;
    	overflow: auto;
    }
}


// vue-router 过渡动画，这里用渐隐渐显的方式
.v-enter{
    opacity: 0;
}
.v-enter-active{
    transition: 0.15s;
}
.v-enter-to{
    opacity: 1;
}
.v-leave{
    opacity: 1;
}
.v-leave-to{
    opacity:0;
}
.v-leave-active{
    transition: 0.15s;
}